// Place all the styles related to the Kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables */
$gray-text-color: #888;
$gray-text-darker-color: #666;
$form-gray: #6c757d;
$button-border: #2E2F30;
$button-hover: #999999;
$navbar-link-color: white;
$navbar-link-hover: grey;
$navbar-background-color: #333333;

/* General */

.table {
  a {
    color: $gray-text-color;
    &:hover {
      color: #444;
    }
  }
}

/* Header */

#logo {
  float: left;
  font-size: 1.5em;
  color: white;
  text-transform: capitalize;
  &:hover {
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 40px;
  background-color: $navbar-background-color;
  .nav {
    li {
      a {
        color: $navbar-link-color;
        &:hover {
          color: $navbar-link-hover;
          background-color: $navbar-background-color;
        }
      }
    }
    .github-icon {
      margin-left: -300px;
      height: 25px;
      width: 25px;
    }
  }
}

/* Pagination */

.pagy-bootstrap-nav {
  .page-link {
    color: $gray-text-darker-color;
    &:hover {
      color: white;
      background-color: $gray-text-color;
      border-color: $gray-text-color;
    }
  }
  .page-item.active .page-link {
    background-color: $gray-text-color;
    border-color: $gray-text-color;
    color: white;
  }
}

/* Misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 60px;
  background-color: #EEE;
  font-size: small;
}