// Place all the styles related to the Kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables */
$gray-text-color: #888;
$gray-text-darker-color: #666;
$dark-text-color: #212529;

/* General */
body {
  padding-top: 60px;
}

.table {
  a {
    color: $gray-text-color;
    &:hover {
      color: #444;
    }
  }
}

.pagy-bootstrap-nav {
  .page-link {
    color: $gray-text-darker-color;
    &:hover {
      color: white;
      background-color: $gray-text-color;
      border-color: $gray-text-color;
    }
  }
  .page-item.active .page-link {
    background-color: $gray-text-color;
    border-color: $gray-text-color;
    color: white;
  }
}

/* Misc */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 60px;
  background-color: #EEE;
  font-size: small;
}