<header>
  <nav class="navbar navbar-dark">
    <div class="container">
      <%= link_to "Kitten Creator", root_path, class: "navbar-brand" %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "https://github.com/ellielle/kitten-api" do %>
            <%= image_tag("github.png", class: "github-icon", alt: "github project") %>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to "Create Kitten", create_kitten_path, class: "navbar-kittens" %>
        </li>
      </ul>
    </div>
  </nav>
</header>