<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <% flash.each do |type, message| %>
      <% content_tag :div, message, class: "alert alert#{type}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
